#aboutus {
    height: 110vh;
    background-image: url("http://beewilr.cluster031.hosting.ovh.net/zdjecia%20Jarek%20strona/strona%20it/T%c5%82o1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutusbox {
    text-align: center;
    min-height: 110vh;
    height: 110vh;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #5f5f5fe8;
    padding-top: 40px;
    font-size: 20px;
}

.aboutustext {
    text-align: left;
    vertical-align: middle;
    color: white;
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
}

.ceo1 {
    display: inline-block;
    background-color: white;
    width: 170px;
    height: 30px;
    margin-left: -90%;
    margin-right: auto;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: -10px;
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
}
.ceo2 {
    display: inline-block;
    background-color: white;
    height: 30px;
    width: 170px;
    margin-right: 0;
    margin-left: auto;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: -10px;
    padding-left: 5px;
    vertical-align: top;
    text-align: left;
}

