#contact {
  display: grid;
  grid-template-columns: 0.75fr 1fr 1fr 1fr 0.75fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  padding-top: 8vh;
  grid-template-areas: ". company-name company-address company-map .";
  justify-content: center;
  background-color: #242424;
  text-align: center;
  overflow: visible;
  max-width: 100%;
  padding-bottom: 5%;
}

#headercontact {
  display: grid;
  grid-template-columns: 1.25fr 2.5fr 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0% 0px;
  grid-template-areas: ". logofooter . socialiconsfooter";
  justify-content: center;
  align-content: space-around;
  justify-items: center;
  align-items: center;
  width: auto;
  height: 100px;
  background-color: rgb(253, 205, 48);
  text-align: center;
}

#logofooter {
  grid-area: logofooter;
  overflow: hidden;
  height: 70px;
}

.footerimg {
  height: 70px;
  width: auto;
}

#socialiconsfooter {
  grid-area: socialiconsfooter;
}

.iconfooter {
  height: 40px;
  width: 40px;
}

#companyname {
  grid-area: company-name;
  color: #cacaca;
  margin-top: 5vh;
}

#companyname h4 {
  font-size: 21px;
  text-transform: uppercase;
  color: yellow;
}

#companyname p {
  font-size: 19px;
  line-height: 2;
}

#companyadress {
  grid-area: company-address;
  color: #cacaca;
  margin-top: 5vh;
}

#companyadress h4 {
  font-size: 21px;
  text-transform: uppercase;
  color: yellow;
}

#companyadress p {
  font-size: 19px;
  line-height: 2;
}

#companymap {
  grid-area: company-map;
}

#googleMap {
  width: auto;
  height: 30vh;
}

.links {
  color: yellow;
  text-decoration: none;
}

@media all and (max-width: 1500px) {
  #companymap {
    margin-top: 2rem;
    width: 20rem;
    margin-left: 2rem;
  }
}

@media all and (max-width: 1400px) {
  #contact {
    grid-template-areas: "company-name company-name company-address company-map company-map";
  }

  #companymap {
    margin-top: 3rem;
    width: 25rem;
    margin-left: 3rem;
  }
}

@media all and (max-width: 1300px) {
  #contact {
    grid-template-areas: "company-name company-name company-address company-map company-map";
  }

  #companymap {
    margin-top: 2rem;
    width: 25rem;
    margin-left: 3rem;
  }
}

@media all and (max-width: 1100px) {
  #contact {
    grid-template-areas: "company-name company-name company-address company-map company-map";
  }

  #companymap {
    margin-top: 4rem;
    width: 20rem;
    margin-left: 3rem;
  }
}

@media all and (max-width: 1000px) {
  #contact {
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      ". company-name ."
      ". company-map ."
      ". company-address .";
  }

  #companymap {
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
  }

  #headercontact {
    display: block;
  }
  #socialiconsfooter {
    position: relative;
    bottom: -1.5rem;
    background-color: rgb(253, 205, 48);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  #logofooter {
    position: relative;
    top: 1rem;
  }
}
