body {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

.white {
  color: white;
}

#main {
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

.video {
  position: absolute;
  filter: brightness(50%);
  max-width: 100%;
  min-height: 100vh;
  z-index: -1;
  object-fit: fill;
}

.logo {
  position: absolute;
  height: 100%;
}

#menu {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  list-style: none;
  left: -3rem;
}

#menu li a {
  display: inline-block;
  padding-top: 6vh;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  transform: skewX(-5deg);
}

.menu-links {
  font-style: italic;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.25vw;
}

#lang {
  display: block;
  position: absolute;
  left: auto;
  right: 12rem;
}

#lang a {
  font-style: italic;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.25vw;
  display: inline-block;
  padding-top: 6vh;
  padding-bottom: 2vh;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  transform: skewX(-5deg);
}

#lang a:hover {
  background-color: white;
  color: #000000;
  transform: skewX(-15deg);
}

#menu li a:hover {
  background-color: white;
  color: #000000;
  transform: skewX(-15deg);
}

#socialicons {
  display: block;
  position: absolute;
  left: auto;
  right: 2rem;
  top: 2rem;
}

.facebook {
  fill: snow;
}

.menuicons {
  height: 2rem;
  width: 2rem;
}

.navbaricon1 {
  display: none;
}

@media all and (max-width: 1000px) {
  .logo {
    height: 88%;
    width: auto;
    top: 6rem;
  }
  #menu {
    display: none;
  }
  #lang {
    right: 6rem;
    top: -0.8rem;
  }
  #lang a {
    font-size: 2rem;
    padding-top: 3.3rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transform: skewX(-5deg);
    margin-right: 2rem;
  }
  #socialicons {
    left: 3.5rem;
    right: auto;
  }
  .video {
    object-fit: cover;
  }
  .navbaricon1 {
    width: 65px;
    height: 65px;
    display: block;
    position: absolute;
    right: 2.5rem;
    top: 1.6rem;
    padding: 0;
  }
  .hamburger1 {
    width: 65px;
    height: 65px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbaricon1 .hamburger-inner::before {
    width: 3rem;
    height: 0.3rem;
  }
  .navbaricon1 .hamburger-inner::after {
    width: 3rem;
    height: 0.3rem;
  }
  .navbaricon1 .hamburger-inner {
    width: 3rem;
    height: 0.3rem;
  }
  .navbaricon1 .dropdown-content {
    background-color: transparent;
    width: 8rem;
    padding-top: 1rem;
  }
  .navbaricon1 li a:hover {
    background-color: white;
    color: #000000;
    width: 10.3rem;
  }
  .navbaricon1 .hamburger-box {
    width: 65px;
    height: 65px;
  }
  .menuicons {
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
  }
  .navbaricon1 .dropdown-content ul {
    width: 10rem;
  }
  .navbaricon1 .dropdown-content li {
    width: 10rem;
  }
}

@media all and (max-width: 850px) {
  .logo {
    height: 90%;
  }
  #main {
    height: 100vh;
    min-height: auto;
  }
}

@media all and (max-width: 600px) {
  .logo {
    height: 85%;
  }
  #lang a {
    font-size: 1.25rem;
  }
  #socialicons {
    left: 1.5rem;
  }
  .navbaricon1 {
    width: 55px;
    height: 55px;
  }
  .hamburger1 {
    width: 55px;
    height: 55px;
  }
  .navbaricon1 .hamburger-inner::before {
    width: 2rem;
    height: 0.2rem;
  }
  .navbaricon1 .hamburger-inner::after {
    width: 2rem;
    height: 0.2rem;
  }
  .navbaricon1 .hamburger-inner {
    width: 2rem;
    height: 0.2rem;
  }
  .navbaricon1 .hamburger-box {
    width: 55px;
    height: 55px;
  }
  .menuicons {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }
  .navbaricon1 li a {
    font-size: 1.25rem;
  }
  .navbaricon1 .dropdown-content ul {
    width: 6rem;
  }
  .navbaricon1 .dropdown-content li {
    width: 6rem;
  }
  .navbaricon1 .dropdown-content {
    width: 6rem;
  }
  .navbaricon1 li a:hover {
    width: 8.7rem;
  }
}
@media all and (max-width: 450px) {
  .logo {
    height: 90%;
  }
  #socialicons {
    left: 2.5rem;
  }
  .menuicons {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }
  #lang a {
    margin-right: 0;
  }
  .navbaricon1 {
    right: 1rem;
  }
  .navbaricon1 li a:hover {
    width: 7.5rem;
  }
}
