body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0px;
    font-size: 28px;
    font-family: 'Brush Script MT', cursive;
    z-index: -1;
}
.logo {
    position: absolute;
    top: 10%;
    height: 98%;
    transform: rotate(270deg);
    transform-origin: 28% 84%;
    z-index: 2;
    object-fit: cover;
}
.video {
    position: static;
    right: 0;
    bottom: 0;
    filter: contrast(70%)
}
#main {
    position: static;
    min-width: 100%;
    min-height: 100%;
    text-align: left;
}
#navbar {
    overflow: hidden;
    background-color: #333;
}
#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 10px;
}
#navbar a.active {
    background-color: #04AA6D;
    color: white;
}
.galleryslides {
    box-sizing: border-box;
    position: relative;
    background-color: black;
}
.slides {
    display: none;
}
.cursor {
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgb(245, 98, 98);
}
.numbertext {
    color: tomato;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    float: left;
    width: 16.66%;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
#contact {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header header header"
      "companyname companyadress companymap";
    background-color: rgb(24, 20, 20);
    justify-content: center;
    align-content: center; 
    justify-items: stretch; 
    align-items: stretch; 
}
h2 {
    color: rgb(219, 197, 0);
}
#map {
    height: 200px;
    width: 20px;
}
#headercontact {
    grid-template-areas: header;
    background-color: rgb(219, 197, 0);
}
#companyname {
    grid-template-areas: companyname;
}
#companyadress {
    grid-template-areas: companyadress;
}
#companymap {
    grid-template-areas: companymap;
}