body {
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

h2 {
  margin: auto;
  padding: 0;
}

h4 {
  color: yellow;
}

.white {
  color: white;
}

#main {
  min-height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
.video {
  position: absolute;
  filter: brightness(70%);
  z-index: -1;
  width: 100%;
}
.logo {
  position: absolute;
  height: 100%;
}

#menu {
  display: block;
  position: absolute;
  top: 3%;
  width: 100%;
  text-align: center;
  list-style: none;
}

#menu li {
  margin-right: 45px;
}

#menu li a {
  display: inline-block;
  padding-top: 30px;
  transform: skewX(-15deg);
}

.menu-links {
  font-style: italic;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

#menu li a:hover {
  background-color: white;
  color: #000000;
  transform: skewX(-15deg);
}

.mediaicon {
  width: 45px;
  height: 45px;
}

#socialicons {
  display: block;
  position: absolute;
  left: auto;
  right: 12%;
  top: 3%;
}

#lang {
  display: block;
  position: absolute;
  top: 3%;
  left: auto;
  right: 3%;
}

#lang a:hover {
  background-color: white;
  height: 50px;
  transform: rotate(50deg);
}

.facebook {
  fill: snow;
}

.menuicons {
  height: 35px;
  width: 35px;
}
