#navbar {
  display: grid; 
  grid-template-columns: 2fr 5fr 90px 40px 40px 40px; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo-navbar . hamburger facebook-navbar instagram-navbar youtube-navbar"; 
  justify-content: center; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
  height: 55px;
  max-width: 100%;
  z-index: 100;
  background-color: #5f5f5fe3;
}

.navbaricon {
  grid-area: hamburger;
  width: 45px;
  height: 45px;
}

.facebook-navbar {
  grid-area: facebook-navbar;
  width: 25px;
  height: 25px;
}

.instagram-navbar {
  grid-area: instagram-navbar;
  width: 25px;
  height: 25px;
}

.youtube-navbar {
  grid-area: youtube-navbar;
  width: 25px;
  height: 25px;
}

.iconnavbar {
  width: 25px;
  height: 25px;
}

.logo-navbar {
  grid-area: logo-navbar;
  width: auto;
  height: 40px;
}

.dropdown-content {
  position: absolute;
  display: block;
  width: 250px;
  text-align: center;
  background-color: #5f5f5fe3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
}

.dropdown-content li {
  display: block;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover,
.dropdown-content a:focus {
  background-color: #ffffffe3;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: black;
}

.hidden {
  display: none;
}