#products {
  margin: 0;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #9b9b9b;
  overflow: hidden;
}

#ofertatext {
  min-height: 100vh;
  padding-top: 1vh;
  width: auto;
  margin-left: 4.5%;
  margin-right: 4.5%;
  background-color: #5f5f5f;
  padding-bottom: 2rem;
}

.productsh {
  text-align: left;
  color: white;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 7vh;
  font-style: italic;
  margin-top: 8vh;
}

.productstext {
  text-align: left;
  color: white;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 2rem;
}

#ofertatext .slick-slide {
  width: 60rem;
  margin-top: 3rem;
  margin-left: 5em;
}

.slick-slide .photo {
  height: 35rem;
}

#ofertatext .slick-next {
  background-image: url("http://beewilr.cluster031.hosting.ovh.net/zdjecia%20Jarek%20strona/strona%20it/Prawa%201.png");
  background-position: center;
  width: 5vw;
  height: 35rem;
  display: block;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: -5.5%;
  z-index: 3;
  top: 3rem;
}

#ofertatext .slick-prev {
  background-image: url("http://beewilr.cluster031.hosting.ovh.net/zdjecia%20Jarek%20strona/strona%20it/lewa%201.png");
  background-position: center;
  width: 5vw;
  height: 35rem;
  display: block;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: -5.5%;
  z-index: 3;
  top: 3rem;
}

@media all and (max-width: 1000px) {
  #ofertatext {
    margin-left: 0;
    margin-right: 0;
  }
  #ofertatext .slick-prev {
    height: 4rem;
    width: 7rem;
    left: 0;
    object-fit: cover;
    top: 36rem;
  }
  #ofertatext .slick-next {
    height: 4rem;
    width: 7rem;
    right: 0;
    top: 36rem;
    object-fit: cover;
  }
  .productsh {
    margin-left: 3rem;
    margin-top: 7rem;
  }
  .productstext {
    font-size: 1rem;
    margin-left: 3rem;
    margin-top: 7rem;
  }
  #ofertatext .slick-slider {
    margin-top: -2rem;
  }
  .slick-slide .photo {
    height: 35rem;
    object-fit: scale-down;
    margin-top: 10rem;
  }
}

@media all and (max-width: 800px) {
  #ofertatext {
    margin-left: 0;
    margin-right: 0;
  }
  #ofertatext .slick-prev {
    height: 4rem;
    width: 7rem;
    left: 0;
    object-fit: cover;
    top: 26rem;
  }
  #ofertatext .slick-next {
    height: 4rem;
    width: 7rem;
    right: 0;
    top: 26rem;
    object-fit: cover;
  }
  .productsh {
    margin-left: 3rem;
  }
  .productstext {
    font-size: 1rem;
    margin-left: 3rem;
  }
  #ofertatext .slick-slider {
    margin-top: -2rem;
  }
  .slick-slide .photo {
    height: 25rem;
    object-fit: scale-down;
  }
}
