#products {
    margin: auto;
    min-height: 100vh;
    width: 100%;
    background-color: #9b9b9b;
}

#ofertatext {
    text-align: center;
    min-height: 100vh;
    padding-top: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: 5%;
    background-color: #5f5f5f;
}

.single-item {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "prev photo next";
    justify-content: center;
    align-content: center;
    margin-top: 8%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

.slick-next {
    background-image: url("http://beewilr.cluster031.hosting.ovh.net/zdjecia%20Jarek%20strona/strona%20it/Prawa%201.png");
    grid-area: next;
    width: 77px;
    height: 395px;
    justify-self: center;
    align-self: center;
    margin-right: -291%;
    z-index: 1;
}

.slick-prev {
    background-image: url("http://beewilr.cluster031.hosting.ovh.net/zdjecia%20Jarek%20strona/strona%20it/lewa%201.png");
    grid-area: prev;
    width: 77px;
    height: 395px;
    display: block;
    justify-self: center;
    align-self: center;
    margin-left: -291%;
    z-index: 1;

}